<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
        <title>Codacy commit viewer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <link href="../static/css/bootstrap-grid.css" th:href="@{/css/bootstrap-grid.css}" rel="stylesheet" />
        <link href="../static/css/bootstrap-reboot.css" th:href="@{/css/bootstrap-reboot.css}" rel="stylesheet" />

    </head>
</html>